*{
    padding: 0;
    margin: 0;
    background-color: #f4f2ee;
}
body label, h4, p, a{
    background: none;
}
body{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}
.container-header{
    width: 100%;
    background: rgba(23, 124, 255, 0.226);
    height: 8%;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    color: white;
}
.barra-pesquisa{
    height: 4%;
    width: 25%;
    position: fixed;
    margin: 1% 0 0 30%;
    background: none;
}


.barra-pesquisa input:hover{
    background: rgb(212, 212, 212);
    transition: 0.3s;
    color: rgb(0, 0, 0);
}
.barra-pesquisa input:focus{
    outline: none;
    font-size: 17px;
}
.barra-pesquisa input{
    height: 100%;
    width: 100%;
    padding: 0 0 0 40px;
    border-radius: 50px;
    font-size: 17px;
    border: 1px solid rgb(0, 0, 0);
}
.barra-pesquisa input::placeholder{
    padding: 0 0 0 0px;
    font-size: 15px;
}
.container-buttons-header{
    height: 100%;
}
.icon-search{
    position: absolute;
    z-index: 1;
    margin: 7px 0 0 10px;
    height: 25px;
    cursor: context-menu;
    background: none;
}
.container-inicio{
    width: 3%;
    height: 95%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: #0b3d91;
    border-radius: 7px;
    margin: 0.1% 0 0 60%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.479);
}
.container-inicio:hover{
    background: rgb(37, 112, 250);
    transition: 0.5s;
}
.container-inicio label{
    padding: 5px 0 0 10px;
    cursor: pointer;
}
.container-vagas{
    width: 3%;
    height: 95%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: #0b3d91;
    border-radius: 7px;
    margin: 0.1% 0 0 15px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.479);
}
.container-vagas:hover{
    background: rgb(37, 112, 250);
    transition: 0.5s;
}
.container-vagas label{
    padding: 5px 0 0 8px;
    cursor: pointer;
}



.container-notificacoes{
    width: 3%;
    height: 95%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: #0b3d91;
    border-radius: 7px;
    margin: 0.1% 0 0 15px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.479);
}
.container-notificacoes:hover{
    background: rgb(37, 112, 250);
    transition: 0.5s;
}
.container-notificacoes label{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 500;
    white-space: normal;
}


.container-perfil{
    width: 3%;
    height: 95%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: #0b3d91;
    border-radius: 7px;
    margin: 0.1% 0 0 15px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.479);
}
.container-perfil:hover{
    background: rgb(37, 112, 250);
    transition: 0.5s;
}
.container-perfil label{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 500;
    white-space: inherit;
}
.premium{
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin: 0.5% 0 0 15%;
    height: 50px;
    width: 120px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    background-color: #0b3d91;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.premium:hover{
    background-color: rgb(37, 112, 250);
    transition: 0.5s;
}






/*------------------------------------------------*/



.container-perfil-esquerda{
    height: 87%;
    width: 17%;
    background-color: #0b3d91;
    position: absolute;
    margin: 5% 0 0 1%;
    border-radius: 10px;
    border: 2px solid #0b3d91;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.397);
}
.img-profile{
    height: 200px;
    margin: 7% 0 0 18%;
    border: 2px solid rgba(255, 255, 255, 0.521);
    border-radius: 100%;
}
.container-perfil-esquerda p{
    font-size: 20px;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-variant: inherit;
    margin: 5% 0 0 20%;
}
.container-perfil-esquerda h4{
    width: 70%;
    margin: 20px 0 0 20%;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}
.text-infos{
    color: white;
    font-weight: 400;
    margin: 10% 0 0 3%;
    position: absolute;
}
.icon-email{
    height: 20px;
    margin: 80px 0 0 -20px;
    position: absolute;
}
.text-email{
    color: white;
    margin-top: 80px;
    margin-left: 10px;
    position: absolute;
}
.button-config-perfil{
    margin: 65% 0 0 -9%;
    position: absolute;
    height: 40px;
    width: 70%;
    background: #c9c9c9;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: black;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.425);
}
.button-config-perfil:hover{
    background-color: #0c8ffa;
    border-radius: 10px;
    transition: 0.3s;
    color: white;
}



/*----------------------------------------------------------------*/



.vagas-disponiveis{
    height: 110%;
    width: 43%;
    position: absolute;
    margin: 8% 0 0 30%;
    background-color: none;
}
.container-vagas-presencial{
    background-color: #0b3d91;
    margin-top: 25px;
    height: 22%;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.301);
    width: 110%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button-candidatar{
    height: 50px;
    width: 20%;
    background-color: #bbbbbb;
    color: black;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
    margin-right: 10px;
    margin-top: 40px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.404);
    position: absolute;
    float: right;
    align-self: flex-end;
}
.button-candidatar:hover{
    background: #0e91e9;
    transition: 0.3s;
    color: white;
}
.title-vagas{
    margin: 40px 0 0 120px;
    font-size: 30px;
    font-weight: 400;
    color: white;
    font-weight: 600;
}
.logo-loja{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin: 1% 0 0 2%;
    position: absolute;    
}




.chat-sidebar {
  position: fixed;
  top: 100px;
  right: 10px;
  width: 300px;
  height: calc(80vh - 70px);
  background: white;
  box-shadow: -2px 0 6px rgba(0,0,0,0.1);
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
 
.chat-header {
  background: #2466eb;
  color: #ffffff;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 0;
  font-weight: 600; 
}


.chat-header h3{
    background: none;
}
 
.chat-body{
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    font-size: 0.9rem;
    color: #444;
    margin-top: 50px;
}
.input-search{
    position: absolute; 
    height: 35px; 
    border-radius: 10px; 
    width: 90%; 
    margin: -60px 0 0 0; 
    border: none;
    padding: 0 0 0 10px;
}
.input-search:hover{
    background: rgb(223, 221, 221);
    transition: 0.3s;
    padding: 0 0 0 10px;
}
.input-search:focus{
    outline: none;
    box-shadow: 0 0 3px 1px rgba(11, 57, 95, 0.356);

}
.perfil{
    height: 80px;
    width: 95%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.096);
}
.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}
 
.chat-input input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  background: #f4f6f8;
  border-radius: 6px;
}
 
.chat-input button {
  background: #0b3d91;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  margin-left: 8px;
  cursor: pointer;
}
