* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}



.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #666;
}

.logo .orange {
    color: #f57c00;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-size: 0.95rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #f57c00;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.register {
    background: #f57c00;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 600;
    transition: background 0.3s;
}

.register:hover {
    background: #ff9100;
}

/* ======== MAIN ======== */
main {
    flex: 1;
    display: flex;
    height: calc(100vh - 70px);
}

/* Lado esquerdo */
.left, .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 40px;
    
}

.left {
    background:linear-gradient( to right, #5fd2ff, #4e64e4);
}

.right {
     background:linear-gradient( to right, #4e64e4, #062349);
}

.content h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    font-weight: 700;
    height: 100px;
}

.content p {
    font-size: 1.1rem;
    margin-bottom: 50px;
    color: #f1f1f1;

}

.btn {
    background: white;
    color: #65b307;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 700;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
    
}

.btn:hover {
    background: #86d48a;
    color: white;
}

/* ======== RESPONSIVO ======== */
@media (max-width: 900px) {
    main {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
        height: 50vh;
    }

    .content h1 {
        font-size: 1.7rem;
    }

    .content p {
        font-size: 1rem;
    }
}
