* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f3f2ef;
  color: #333;
}

/* ===== HEADER ===== */
header {
  position: sticky;
  top: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 10;
}

.logo {
  background: #4b85c0;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 5px 8px;
  font-size: 28px;
  margin: 0 0 0 0px;
  
}

header input {
  width: 450px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin: 0 0 0 -45%;
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
}

nav a:hover {
  color: #0a66c2;
}

/* ===== LAYOUT ===== */
main {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  flex-wrap: wrap;
}

.coluna-esquerda {
  flex: 1 1 650px;
}

.coluna-direita {
  flex: 1 1 300px;
}

/* ===== PERFIL ===== */
.perfil {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.capa {
  height: 120px;
  background-color: #4e64e4;
}

.perfil-info {
  text-align: center;
  padding: 20px;
}

.perfil-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -50px;
  border: 3px solid white;
}

.perfil-info h2 {
  margin-top: 10px;
}

.local {
  color: #666;
  font-size: 14px;
}

.botoes {
  margin-top: 15px;
}

button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-weight: 500;
}

.btn-primario {
  background-color: #0a66c2;
  color: white;
}

.btn-secundario {
  background-color: #e8f3ff;
  color: #0a66c2;
}

/* ===== BOXES ===== */
.box {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.box h3 {
  margin-bottom: 10px;
}

.cards-destaques {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card-destaque {
flex-direction: column;
  }


